{% extends 'movies/base.html' %} {% load static %} {% block extra_style %}
<link rel="stylesheet" href="{% static 'movies/index.css' %}" />
{% endblock extra_style %} {% block content %}
<h1>Movies are awesome!</h1>
<ul>
	{% for genre in genres %}
	<li>
		<a href="{% url 'movies-genre-show' genre_id=genre.genre %}"> {{genre.genre}} </a>
	</li>
	{% endfor %}
</ul>

<section>
{% if is_manager %}
	<button><a href={% url 'movies-genre-new' %}>Add Genre</a></button>
{% endif %}
</section>
{% endblock content %}
